body{
	background-color: #f4f4f4;
}
.db{
	width:1200px;
	min-height:504px;
	margin: 15px auto;
	background-color: #fff;
	
}
.detail_img{
	width:430px;
	height:504px;
	background-color: #fff;
	
}
.datail_text{
	width:770px;
	height:504px;
	
}
.big_img{
	width:430px;
	height:430px;
	margin:auto auto;
	background: black;
	border: 1px solid #ff0036;
}
.small_img{
	width:60px;
	height:60px;
	margin: 5px 5px;
	background-color: gray;
	border:1px solid #fff;
}
.small_img:hover{
	border:1px solid #ff0036;
}
.dt_title{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
}
.dt_price{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
	
	padding-left: 20px;
	color:#838383;
}
.dt_price span{
	padding-left: 20px;
	color: red;
	font-size: 22px;
}
.dt_freight{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:40px;
	line-height: 40px;
	font-size: 14px;
	color:#838383;
	padding-left: 20px;
}
.dt_freight span{
	padding-left: 20px;
	color: #000;
}
.dt_sales{
	
	font-size: 10px;
	width:607px;
	height:40px;
	line-height: 40px;
	font-size: 14px;
	color:#838383;
	margin-left: 20px;
	border-top: 1px dashed #838383;
	border-bottom: 1px dashed #838383;
}	
.dt_sales span{
	padding-left: 40px;
	padding-right: 40px;
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	margin: 0 5px;
	color:#000;
}	
.dt_sales span text{
	color:red;
	padding-left: 10px;
	font-size: 16px;
}
.dt_shoeSize{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:55px;
	line-height: 55px;
	font-size: 14px;
	color:#838383;
	margin-right: 40px;
}
.dt_shoeSize span{
	margin-left: 20px;
	padding: 2px 8px;
	color:#000;
}
.dt_shoeSize span:hover{
	border: 2px solid #838383;
}
.changeSize{
	border: 2px solid red;
}
.dt_color{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
	color:#838383;
	padding-left: 20px;
}
.dt_color span{
	
}
.dt_color img{
	
	margin-right: 10px;
	/*margin-left: 10px;*/
}
.dt_color_img{
	padding-left: 20px;
	margin-top: 4px;
}
.dt_color img:hover{
	
}
.dt_shuliang{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
	color:#838383;
}
.s1{
	margin-left: 20px;
	color:#000;
}
.s1 input{
	width:35px;
	height: 25px;
	text-align: center;
}
.reduce{
	cursor: pointer;
	font-size: 14px;
}
.add{
	cursor: pointer;
	font-size: 14px;
}
.s4{
	margin-left: 30px;
}
.dt_huabei{
	padding-left: 20px;
	font-size: 10px;
	width:750px;
	height:50px;
	line-height: 50px;
	font-size: 14px;
	color:#838383;

}
.dt_huabei span{
	color:#000;
}
.fenqi_price{
	margin-left: 20px;
	padding:8px 8px;
}
.fenqi_price:hover{
	border:2px solid red;
}
.dt_button{
	padding-left: 20px;
	font-size: 10px;
	width:713px;
	height:100px;
	line-height: 50px;
	font-size: 14px;
	color:#838383;
	padding-left: 57px;
}
.dt_button input{
	width:180px;
	height:40px;
	margin-left: 10px;
	margin-top: 30px;
	border:1px solid #ff0036;
	border-radius: 2px;
	font-size: 16px;
	
}
.dt_button input:hover{
	box-shadow: 2px 4px 6px 2px #CCC;
}
.dt_car{
	background-color: #ffeded;
	color: #ff0036;
}
.dt_buy{
	background-color: #ff0036;
	color: #fff;
}













